.gupiao {
    width: 100%;
    padding: 0 .625rem;
    box-sizing: border-box;
    overflow: auto;

    .gphead {
        width: 100%;
        height: 4.6875rem;

        .p1 {
            // height: 2.8125rem;
            line-height: 2.8125rem;
            font-size: 1rem;
            color: rgba(240, 248, 255, 0.699);
        }
    }

    .gpmx {
        display: flex;

        .mx {
            flex: 1;

            .p {
                display: flex;
                justify-content: space-around;

                .spamwhite {
                    color: #fff;
                }
            }

            .mxdiv {
                display: flex;
                justify-content: space-between;

                .greenspan {
                    color: #58bc58;
                }

                .redspan {
                    color: rgb(253, 108, 108);
                }
            }

        }
    }
}