.my-carousel .v-item {
    height: 36px;
    line-height: 36px;
    padding-left: 10px;


}

.am-wingblank.am-wingblank-lg {
    margin: 0;
    padding: 0;
}

.div-s {
    display: flex;
    color: #FD403F;
    text-align: center;

    .span1 {
        width: 7.5rem;
        color: #fff;
    }

    .span2 {
        width: 5rem;
    }

    .span3 {
        width: 4.1875rem;
    }

    .span4 {
        width: 7.5rem;
    }
}

.div-sx {
    color: #58bc58;
}