.am-carousel-wrap-dot>span {
    width: 15px;
    height: 2px;
    border-radius: 15%;
}

.slider-decorator-0 {
    bottom: -12px !important;
}

.slider-slide {

    img {
        border-radius: 3px;
    }
}