.newsimg {
    float: left;
    text-align: center;
    line-height: 110px;
    width: 60px;
    height: 42px;
    padding-left: 10px;

    img {
        height: 40px;
        border-radius: 3px;
    }
}

.flash {
    
    .am-wingblank {
        width: 260px !important;
        box-sizing: border-box;
        padding: 10px;

        ul {
            li {
                // text-align: center;

                .v-item {
                    color: #232323;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
}