.news {
    background-color: #fff;
    overflow: hidden;
}

// .mind {
//     background-color: #fff;
// }

.news-consult {
    &:after {
        content: "";
        clear: both;
        display: block;

    }
}

.news-flash {
    &:after {
        content: "";
        clear: both;
        display: block;

    }
}

.news-main {
    overflow: hidden;
    overflow-y: auto;

    &:after {
        content: "";
        clear: both;
        display: block;

    }
}