.news-consult {
    &:after {
        content: "";
        clear: both;
        display: block;

    }
}

.news-flash {
    &:after {
        content: "";
        clear: both;
        display: block;

    }
}

.news-main {
    &:after {
        content: "";
        clear: both;
        display: block;

    }
}