.am-navbar-light {
    background: rgb(27, 27, 27);
    color: #fff;

    .am-navbar-title {
        color: #999;
        font-size: 16px;

        span {
            margin-right: 16px;
        }
    }

    .fontChange {
        font-size: 20px;
        color: #fff;
    }

    .icon {
        margin-right: 16px;
        font-size: 20px;
    }
}