.activity{
    padding: .266667rem;
    text-align: center;
    background-color: #fff;
    img{
        width: 90%;
        margin-top: 20px;
    }
    .activity-p{
        margin: 15px;
        color: blue;
    }
}