* {
    margin: 0;
    padding: 0;

    *::-webkit-scrollbar {
        display: none;
    }

    *::-webkit-scrollbar {
        width: 0px;
    }
}
body{
    line-height: 1.1 !important;
}

.app {
    background: rgb(27, 27, 27);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    color: #7B7B7B;

    .head {
        flex: .08;
    }

    .mind {
        flex: 1;
        overflow: auto;
    }

    .foot {
        flex: .1;
    }
}